:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: clamp(10px, 1.05vw, 14px);
  font-family: var(--font-courier-new);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: auto;
  /* Désactiver la restauration automatique du scroll est géré via history.scrollRestoration dans layout.js */
}

main{
  width: 100dvw;
  overflow-x: hidden;
}

html,
body {
  max-width: 100vw;
  max-height: 100lvh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Empêche le rebond (overscroll) en haut et en bas sur mobile et desktop */
  overscroll-behavior: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

