*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:clamp(10px,50vw,14px);
}

html{
    scroll-behavior: initial;
}

html,
body
{
    background :linear-gradient(360deg, rgb(5, 7, 21) 5%, rgb(53, 79, 93) 100%);
    min-height: 100%;
    height: auto;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content{
    position: relative;
    z-index: 1;
}

.section{
    position: relative;
    height: 100vh;
    /*opacity: 0;*/
}

h1{
    font-size: clamp(2em,10vw,9em);
    text-transform:uppercase;
    color:white;
    font-family: 'Unbounded';
    font-weight: 600;
    padding: 0.1em 0;
    line-height: 1;
}


.sectionTitle,.content{
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.partTitle,.eltTitle{
    font-size: clamp(2rem,10vw,7.5rem);

}

.eltTitle{
    overflow: hidden;
}


.sub{
    min-height: 0.5em;

}

.sub span{
    font-size: 0.5em;
    font-weight:200;
}

.partTitle{
    display: block;
    transform: translateY(120%);

}

.subInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
}

/*.content{*/
/*    left: 70%;*/
/*    text-align: left;*/
/*}*/

/*.textContainer{*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.content h4{*/
/*    color:white;*/
/*    font-size: 1.5rem;*/
/*    font-family: "Unbounded";*/
/*    font-weight: 400;*/
/*    transform: translateY(120%);*/

/*}*/


.textContainer{
    overflow: hidden;
}

.content h4{
    color:white;
    font-size: 1.5rem;
    font-family: "Unbounded";
    font-weight: 300;
    transform: translateY(120%);

}

.more{
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin: 3.5rem auto 0 auto;
    padding: 0.5rem 1.5rem;
    font-family: "Unbounded";
    background: transparent;
    border: 1px solid white;
    border-radius: 25px;
    transition: all .25s ease-out;
    opacity: 0;
}

.more span,.more i{
    color: white;
    font-weight: 300;
    font-size: 1em;
}


.more:hover{
    background: white;
}

.more:hover span,.more:hover i{
    color: #1e2d36;
}