

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:clamp(10px,50vw,14px);
}

html{
    scroll-behavior: initial;
}

html,
body
{
    background :linear-gradient(360deg, rgb(5, 7, 21) 5%, rgb(46, 70, 82) 92.5%, rgb(76, 108, 124) 110%);
    min-height: 100%;
    height: auto;
    --textColor : #7be6ff;
    color : #7be6ff;
    font-family: Raleway;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#maskCanvas {
    /* Appliquer le masque */
    position: absolute;

}

header{
    position: fixed;
    width: 100%;
    display: block;
    top: 2.5rem;
    z-index: 200;
    mix-blend-mode: color-dodge;
    opacity: 33%;

}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}

.nav-title{
    font-family: Raleway;
    font-size:1.5em;
    font-weight: 400 ;
    color:var(--textColor);
}

.content{
    position: relative;
    z-index: 1;
}

.section{
    position: relative;
    height: 100vh;
    width: 100%;
    mix-blend-mode: color-dodge;
    opacity: 26%;
    /*opacity: 0;*/
}

h1{
    font-size: clamp(2em,10vw,9em);
    text-transform:uppercase;
    color:var(--textColor);
    font-family: 'Unbounded';
    font-weight: 600;
    padding: 0.1em 0;
}


.sectionTitle,.content{
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.partTitle,.eltTitle{
    font-size: clamp(2rem,10vw,8rem);
    font-weight: 300;

}

.eltTitle{
    overflow: hidden;
}


.sub{
    min-height: 0.5em;

}

.sub span{
    font-size: 0.5em;
    font-weight:300;
}

.partTitle{
    display: block;
    transform: translateY(120%);

}

.subInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
}

.textContainer{
    overflow: hidden;
}

.content h4{
    color:var(--textColor);
    font-size: 1.5rem;
    font-family: Raleway;
    font-weight: 400;
    transform: translateY(120%);

}

.more{
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin: 3.5rem auto 0 auto;
    padding: 0.5rem 1.5rem;
    font-family: "Raleway";
    background: transparent;
    border: 1px solid var(--textColor);
    border-radius: 25px;
    transition: all .25s ease-out;
    opacity: 0;
}

.more span,.more i{
    color: var(--textColor);
    font-weight: 500;
    font-size: 1.5em;
}


.more:hover{
    background: var(--textColor);
}

.more:hover span,.more:hover i{
    color: #1e2d36;
}

.aboutContent{
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    color: var(--textColor);
    font-family: Unbounded;
}

.presentation{
    width: 600px;
    font-weight: 300;
    font-size: 16px;
}

.contact .title{
    font-size: 3em;
    margin-bottom: 0.5em;
    text-transform:uppercase;
}

.info{
    font-size: 2em;
    margin-bottom: 0.25em;
    font-weight: 300;
}

.socials{
    display:flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
}

.network{
    color:var(--textColor);
    text-decoration:underline;
    font-weight: 300;
    font-size: 16px;

}



.projectWrapper{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    pointer-events: none;
}

.homepage{
    opacity : 1;
}

.projectPage{
    opacity: 0;
    height: 250vh;
}

.projectPage img{
    opacity: 0;
}

.informations{
    padding: 12.5% 200px 5%;
    mix-blend-mode: color-dodge;
    opacity: 26%;
}

.projectPage h1{
    text-align: center;
    max-width: 700px;
    font-size: clamp(3rem,5vw,5rem);
    margin: 0 auto 1em;
    font-weight: 300;
}

.projectContent{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    height: auto;
    gap: 2em;
}



.infos{
    width: 50%;
    font-size: clamp(1rem,2.5vw,1.5rem);
}

.subInfos{
    max-width: 600px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.subInfo{
    display: flex;
}

.subInfo h4{
    min-width: 100px;
}

.subInfos p,.subInfos h4,.projectLinks a{
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    margin-bottom: 1rem;
}

.projectLinks{
    display: flex;
    gap : 1.5rem;
    margin-top: 2rem;
}

.projectLinks a{
    color: var(--textColor);
    font-weight: 600;
    text-transform: uppercase;
    font-family: Raleway;

}


@media only screen and (max-width: 1580px){
    .subInfos{
        width: 100%;
    }
}


@media only screen and (max-width: 1180px){
    .projectPage{
        padding: 7.5% 50px 0;
    }

    .informations{
        padding: 12.5% 50px 5%;
    }

    .projectContent{
        flex-direction: column;
    }
    .infos{
        width: 100%;
    }
    .subInfos{
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {
    h1.nav-title{
        display: none;
    }

    .informations{
        padding: 12.5% 15px 5%;
    }

    .projectPage{
        height: 225vh;
        padding: 20% 20px 0;
    }

    .subInfo h4{
        min-width: 60px;
    }
}