.clock {
  display: inline-block;
}

.digit {
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
  will-change: transform, opacity, filter;
}

.digit.animate {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
    filter: blur(6px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-2px) scale(1.05);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0px);
  }
}

.day {
  display: inline-block;
  transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  will-change: transform, opacity, filter;
}

.day.animate {
  animation: fadeIn 0.4s  cubic-bezier(0.34, 1.56, 0.64, 1);
}

.separator {
  display: inline-block;
  margin: 0 0.05em;
}
